body {
    /* display: flex; */
    background-image: linear-gradient(to right, rgb(13, 13, 13) , rgb(64, 64, 67));
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    /* color: rgb(119, 211, 247); */
    /* background-color: transparent;
    /* outline-color: black; */
    border-bottom: 3px solid orange;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    /* outline-color: black;
    outline-style: solid;
    border-radius: 20em;
    margin: 2px 10px; */
}


.nav_bar {
    display: flex;
    flex-direction: row;
    /* gap: 1em; */
    /* list-style: none; */
    /* font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: rgb(253, 44, 17); */
    cursor: pointer;   
}
.nav_bar li {
    /* outline-style: solid; */
    list-style: none; 
    border-radius: 10em;
    padding: 10px;
}

.nav_bar li a {
    height: 20px;
    color: rgb(119, 211, 247);
    text-decoration: none;
}

/* .nav_bar li :hover {
    color: white;
} */
/* worjk out later how to make nav-bar words hover white*/

.nav_bar :hover {
    background-image: linear-gradient(to right, rgb(251, 107, 11) , rgb(195, 12, 251));
}

.head {
    display: flex;
    justify-content: center;
    /* padding: 10em; */
}

.image {
    height: 450px;
    padding: 1px 1em;
    border-radius: 30px;
}

.personal_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 1em;
}

.personal_info li {
    border-bottom: 3px solid orange;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 26px;
    /* border-bottom: 3px solid orange; */
}

img {
    height: 250px;
}

.main {
    padding-bottom: 3em;
}

h1, h2, h3 {
    color:rgb(119, 211, 247);
    display: flex;
    justify-content: center;
    text-decoration: underline 2.5px solid orange;
    padding-bottom: 1px;
}

h4 {
    color:rgb(119, 211, 247);
    font-size: 26px;
    display: flex;
    justify-content: center;
    text-decoration: underline 2.5px solid orange;
    padding-bottom: 2px;   
}

.body h4 {
    color:rgb(119, 211, 247);
    font-size: 26px;
    display: flex;
    justify-content: left;
    text-decoration: underline 2.5px solid orange;
    padding-bottom: 2px;
}

p {
    font-size: 20px;
}

.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-items: center; */
    padding: 20px;
    row-gap: 3em;
}

button {
    /* display: flex; */
    /* flex-direction: column; */
    background-color: gray;
    outline-style: solid;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    color: white;
    /* font-size: 20px; */
    cursor: pointer;
    font-weight: bold;
}

.job_company {
    display: flex;
    justify-content: center;
    font-size: 28px;
}

.job_title {
    display: flex;
    font-size: 22px;
    text-decoration: underline;
}

.job_roles_list {
    display: flex;
    flex-direction: column;
    padding-inline-start: 15px;
    text-align: start;
    font-size: 16px;
    padding-top: 0.5em;
}

.job_roles li {
    display: flex;
    justify-content: flex-start;
}

.job_date {
    display: flex;
    justify-content: right;
    color:rgb(119, 211, 247);
    text-decoration: underline 2.5px solid orange;
    font-size: 16px;
    text-decoration: none;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    list-style: none;
}

.breadcrumb li {
    list-style: none;
    font-size: 20px;
    border-radius: 10em;
}

.breadcrumb li a {
    color: rgb(119, 211, 247);
    text-decoration: none;
}

.breadcrumb li :hover {
    color: white;
}

.breadcrumb li+li ::before {
    color: rgb(10, 176, 241);
    font-size: 20px;
    content: ">";
    padding-right: 1em;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 1em;
    border-top: solid 3px orange;
    padding: 2em;
}

.footer a {
    color: white;
}

a {
    text-decoration: none;
}

.skills_ul li {
    font-family: sans-serif;
}

.skills_ul li p {
    display: inline;
    color: rgb(119, 211, 247);
    text-decoration: underline 3px orange;   
}