.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    list-style: none;
}

.breadcrumb li {
    list-style: none;
    font-size: 20px;
    border-radius: 10em;
}

.breadcrumb li a {
    color: rgb(119, 211, 247);
    text-decoration: none;
}

.breadcrumb li :hover {
    color: white;
}

.breadcrumb li+li ::before {
    color: rgb(10, 176, 241);
    font-size: 20px;
    content: ">";
    padding-right: 1em;
}
