@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.head {
    display: flex;
    justify-content: center;
    /* padding: 10em; */
}

.image_container {
    height: 450px;
    padding-right: 60px;    
}

#profile_image0 {
    display: none;
    min-width: 315px;
    min-height: 450px;
    border-radius: 30px;
}

#profile_image1 {
    display: none;
    border-radius: 30px;
    min-width: 315px;
    min-height: 450px;
}

#profile_image2 {
    display: none;
    border-radius: 30px;
    min-width: 315px;
    min-height: 450px;
}

#profile_image3 {
    display: none;
    border-radius: 30px;
    min-width: 315px;
    min-height: 450px;
}

#profile_image4 {
    display: none;
    border-radius: 30px;
    min-width: 315px;
    min-height: 450px;
}

/* .personal_info ul {
    justify-content: space-between;
} */

.personal_info ul {
    padding: 20px;
}

.personal_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 1em;
    row-gap: 1em;
    font-size: 25px;
}

.personal_info li {
    border-bottom: 3px solid orange;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 26px;
    /* border-bottom: 3px solid orange; */
}

img {
    height: 250px;
}

.main {
    padding-bottom: 3em;
}

h1, h2, h3 {
    color:rgb(119, 211, 247);
    display: flex;
    justify-content: center;
    text-decoration: underline 2.5px solid orange;
    padding-bottom: 1px;
}

h4 {
    color:rgb(119, 211, 247);
    font-size: 26px;
    display: flex;
    justify-content: center;
    text-decoration: underline 2.5px solid orange;
}

.body h4 {
    color:rgb(119, 211, 247);
    font-size: 32px;
    display: flex;
    justify-content: left;
    text-decoration: underline 2.5px solid orange;
    padding-bottom: 2px;
}

p {
    font-size: 20px;
}

.project_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    row-gap: 3em;
}

.project_button {
    background-color: gray;
    outline-style: solid;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}

.project_title {
    display: flex;
    justify-content: left;
    font-weight: bold;
    padding: 2px;
    margin-top: 2px;
}

.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-items: center; */
    padding: 20px;
    row-gap: 3em;
}

button {
    background-color: gray;
    outline-style: solid;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}

.button_info h3 {
    display: flex;
    align-self: center  ;
    font-weight: bold;
    padding: 2px;
}

.job_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: gray;
    outline-style: solid;
    height: 475px;
    width: 500px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.job_company {
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 0.5px;
}

.job_title {
    display: flex;
    font-size: 22px;
    text-decoration: underline;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
}

.job_roles_list {
    display: flex;
    flex-direction: column;
    padding-inline-start: 15px;
    text-align: start;
    font-size: 16px;
    margin-top: 0.5px;

}

.job_roles li {
    display: flex;
    justify-content: flex-start;
}

.job_date {
    color:rgb(119, 211, 247);
    text-decoration: underline 2.5px solid orange;
    font-size: 16px;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    list-style: none;
}

.breadcrumb li {
    list-style: none;
    font-size: 20px;
    border-radius: 10em;
}

.breadcrumb li a {
    color: rgb(119, 211, 247);
    text-decoration: none;
}

.breadcrumb li :hover {
    color: white;
}

.breadcrumb li+li ::before {
    color: rgb(10, 176, 241);
    font-size: 20px;
    content: ">";
    padding-right: 1em;
}

.skills_ul li {
    font-family: sans-serif;
}

.skills_ul li p {
    display: inline;
    color: rgb(119, 211, 247);
    text-decoration: underline 3px orange;   
}

.skills_li {
    list-style-type: "-";
    padding-left: 15px;
    padding-bottom: 15px;
}

.skill_list{
    display: flex;
    flex-direction: row wrap;
    color: rgb(10, 176, 241);
    padding: 10px;
}

.skill_list li {
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10em;
    border: solid 1px rgb(46, 46, 46);
    list-style: none;
}

.github_repo {
    color: rgb(10, 176, 241);
    text-decoration: underline 2.5px solid orange;
} 

a:visited {
    color: rgb(10, 176, 241);
  }