@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.head {
    display: flex;
    justify-content: center;
    /* padding: 10em; */
}

.image_container {
    height: 450px;
    padding-right: 60px;    
}

#profile_image0 {
    min-width: 315px;
    min-height: 450px;
    border-radius: 30px;
}

.personal_info ul {
    justify-content: space-between;
}

.personal_info ul {
    padding: 20px;
}

.personal_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 1em;
    row-gap: 1em;
    font-size: 25px;
}

.personal_info li {
    border-bottom: 3px solid orange;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1);
}

.personal_info li:hover {
    border-bottom-color: rgb(119, 211, 247);
    transform: scale(1.05);
}

.name {
    display: flex;
    justify-content: center;
    font-size: 26px;
    /* border-bottom: 3px solid orange; */
}

img {
    height: 250px;
}

.main {
    padding-bottom: 3em;
}

h1, h2, h3 {
    color:rgb(119, 211, 247);
    display: flex;
    justify-content: center;
    text-decoration: underline 2.5px solid orange;
    padding-bottom: 1px;
}

h4 {
    color:rgb(119, 211, 247);
    font-size: 26px;
    display: flex;
    justify-content: center;
    text-decoration: underline 2.5px solid orange;
}

.body h4 {
    color:rgb(119, 211, 247);
    font-size: 32px;
    display: flex;
    justify-content: left;
    text-decoration: underline 2.5px solid orange;
    padding-bottom: 2px;
}

p {
    font-size: 20px;
}


/* .project_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    row-gap: 3em;
} */

.project_button, .button_info {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    background-image: linear-gradient(to right, rgb(155, 6, 247) , rgb(64, 64, 67));
    /* outline-style: solid; */
    height: auto;
    max-width: fit-content;
    /* min-width: 600px; */
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}


.project_button:hover, .button_info:hover {
    background-color: rgb(7, 65, 88);
    transform: scale(1.05);
}

.project_title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 2px;
    margin-top: 2px;
    font-size: large;
}

.containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 3em;
    justify-content: space-evenly;
    padding: 50px;
}

button {
    height: 200px;
}

.button_info h3 {
    display: flex;
    align-self: center  ;
    font-weight: bold;
    padding: 2px;
}

.job_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(to right, rgb(155, 6, 247) , rgb(64, 64, 67));
    /* outline-style: solid; */
    /* height: 475px; */
    max-width: fit-content;
    /* min-width: 600px; */
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.job_company {
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 0.5px;
}

.job_title {
    display: flex;
    font-size: 22px;
    text-decoration: underline;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
}

.job_roles_list {
    display: flex;
    flex-direction: column;
    padding-inline-start: 15px;
    text-align: start;
    font-size: 16px;
    margin-top: 0.5px;

}

.job_roles li {
    display: flex;
    justify-content: flex-start;
}

.job_date {
    color:rgb(119, 211, 247);
    text-decoration: underline 2.5px solid orange;
    font-size: 16px;
}

.skills_ul li {
    font-family: sans-serif;
}

.skills_ul li p {
    display: inline;
    color: rgb(119, 211, 247);
    text-decoration: underline 3px orange;   
}

.skills_li {
    list-style-type: "-";
    padding-left: 15px;
    padding-bottom: 15px;
}

.skill_list{
    display: flex;
    flex-direction: row wrap;
    color: rgb(10, 176, 241);
    padding: 10px;
}

.skill_list li {
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10em;
    border: solid 1px rgb(46, 46, 46);
    list-style: none;
    transition: all 0.3s ease;
    transform: scale(1);
}

.skill_list li:hover {
    /* background-color: rgba(10, 176, 241, 0.2); */
    transform: scale(1.05);
}

.github_repo {
    display: flex;
    justify-content: center;
    color: rgb(10, 176, 241);
    text-decoration: underline 2.5px solid orange;

}

#github_repo_link:hover {
    color: rgb(97, 96, 96);
    text-decoration: underline 2.5px solid orange;
    transform: scale(1.05);
}

#github_repo_link {
    color: white;
    text-decoration: underline 2.5px solid orange;
    background-color: rgb(10, 176, 241);
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition: all 0.3s ease;
    transform: scale(1);
}

a:visited {
    color: rgb(10, 176, 241);
  }